<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SaleDB" connectionString="server=ZERO;database=SaleDB;uid=sa;pwd=1234567890;" />
  <add name="ProductStore.Properties.Settings.SaleDBConnectionString"
   connectionString="Data Source=ZERO;Initial Catalog=SaleDB;User ID=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>